@model DesarrolloWebMVC_Pelicula.Web.Models.Pelicula

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Grabar Registros</title>
</head>
<body>
    <div> 
        <form action="/Home/Modificacion" method="post">
            <h1>Registro de Peliculas</h1>
            <table class="auto-style1">
                <tr><td>Codigo</td><td><input type="text" name="Codigo" value="@Model.Codigo" readonly/></td></tr>
                <tr><td>Titulo</td><td><input type="text" name="Titulo" value="@Model.Titulo" /></td></tr>
                <tr><td>Director</td><td><input type="text" name="Director" value="@Model.Director" /></td></tr>
                <tr><td>Autor Principal</td><td><input type="text" name="AutorPrincipal" value="@Model.AutorPrincipal" /></td></tr>
                <tr><td>Actores</td><td><input type="text" name="No_Actores" value="@Model.No_Actores" /></td></tr>
                <tr><td>Duracion</td><td><input type="text" name="Duracion" value="@Model.Duracion" /></td></tr>
                <tr><td>Estreno</td><td><input type="text" name="Estreno" value="@Model.Estreno" /></td></tr>
                <tr><td class="auto-style1"></td><td><input type="submit" value="Confirmar" /></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
